<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd ">
	
	
	<servlet>
		<servlet-name>PageNotFoundServlet</servlet-name>
		<servlet-class>com.gupao.servelt.PageNotFoundServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>PageNotFoundServlet</servlet-name>
		<url-pattern>/404.html</url-pattern>
	</servlet-mapping>
	
	
	<error-page>
		<error-code>404</error-code>		
		<location>/404.html</location>
	</error-page>
	
	</web-app>
