<html xmlns:th="http://www.thymeleaf.org">
<title>登陆页面</title>
<head>
    <meta content="text/html;charset=UTF-8" />
    <title>慕课网登录</title>
</head>
<body>
<form name="login" method="post">
    <table align="center">
        <tr>
            <td>登陆界面</td>
        </tr>
        <tr>
            <td>账号：</td>
            <td><input type="text" name ="username" size="24"/></td>
        </tr>
        <tr>
            <td>密码：</td>
            <td><input type="password" name="password" size="24"/></td>
        </tr>
        <tr>
            <td><input type="submit" value="登录" size="24"/></td>
        </tr>
    </table>
</form>
</body>
</html>