<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">


    <context:component-scan base-package="com.jiagouedu.web.action" />
    <!--<import resource="classpath*:strutsSpring/front/spring_struts.xml"/>-->
    <!-- 配置自定义转换服务器 -->
    <bean id="conversionService" class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
    </bean>
    <!-- 启用注解驱动 -->
    <mvc:annotation-driven conversion-service="conversionService">
        <!-- 字符串转换器 -->
        <mvc:message-converters register-defaults="true">
            <bean id="messageConverter" class="org.springframework.http.converter.StringHttpMessageConverter">
                <constructor-arg value="UTF-8" />
            </bean>
            <bean id="jsonHttpMesaageConverter" class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter"/>
        </mvc:message-converters>
        <!-- 集合参数解析器 -->
        <!--<mvc:argument-resolvers>-->
        <!--</mvc:argument-resolvers>-->
    </mvc:annotation-driven>
    <!-- 配置静态文件路径 -->
    <!-- max caching age: 24 h -->
    <mvc:resources mapping="/resource/**" location="/resource/" cache-period="86400"/>
    <mvc:resources mapping="/attached/**" location="/attached/" cache-period="86400"/>
    <mvc:default-servlet-handler/>
    <!-- 拦截器 -->
    <!--<mvc:interceptors>-->
    <!--</mvc:interceptors>-->
    <!-- 配置国际化资源文件 -->
    <bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
        <property name="basename" value="i18n/tlshop" />
    </bean>
    <!-- 设置freeMarker配置文件路径 -->
    <bean id="freemarkerConfiguration" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
        <property name="location" value="classpath:freemarker.properties" />
    </bean>

    <!-- 配置freeMarker模板路径 -->
    <bean id="freemarkerConfig" class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
        <property name="freemarkerSettings" ref="freemarkerConfiguration" />
        <property name="templateLoaderPath" value="/" />
        <property name="defaultEncoding" value="UTF-8" />
        <!-- 全局变量部分 -->
        <property name="freemarkerVariables">
            <map>
                <entry key="systemManager">
                    <bean class="com.jiagouedu.core.freemarker.fn.SystemManagerGetter" />
                </entry>
                <entry key="systemSetting">
                    <bean class="com.jiagouedu.core.freemarker.fn.SystemSettingGetter" />
                </entry>
                <entry key="currentUser">
                    <bean class="com.jiagouedu.core.freemarker.fn.CurrentUserGetter" />
                </entry>
                <entry key="currentAccount">
                    <bean class="com.jiagouedu.core.freemarker.fn.CurrentAccountGetter" />
                </entry>
                <entry key="checkPrivilege">
                    <bean class="com.jiagouedu.core.freemarker.fn.PrivilegeChecker" />
                </entry>
                <entry key="i18nParser">
                    <bean class="com.jiagouedu.core.freemarker.fn.I18N" />
                </entry>
                <entry key="keyValueParser">
                    <bean class="com.jiagouedu.core.freemarker.fn.KeyValueGetter" />
                </entry>
                <entry key="shoppingCart">
                    <bean class="com.jiagouedu.core.freemarker.fn.ShoppingCartGetter" />
                </entry>
            </map>
        </property>
    </bean>
    <!--配置jsp视图解析器 -->
    <bean id="viewResolverCommon" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/"/>
        <property name="suffix" value=".jsp"/><!--可为空,方便实现自已的依据扩展名来选择视图解释类的逻辑  -->
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
        <property name="order" value="1"/>
    </bean>
    <!-- 配置freeMarker视图解析器 -->
    <bean id="viewResolver" class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver">
        <property name="viewClass" value="com.jiagouedu.core.freemarker.view.FreemarkerView"/>
        <property name="prefix" value="/"/>
        <property name="contentType" value="text/html; charset=utf-8" />
        <property name="requestContextAttribute" value="request" />
        <property name="suffix" value=".ftl" />
        <property name="order" value="0"/>
    </bean>
    <!-- 配置解析JSON所需的解析器 -->
    <!--<bean id="mappingJacksonHttpMessageConverter" class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter" />-->
    <!-- 配置上传文件所需的解析器 -->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver" />
</beans>