<!DOCTYPE html>
<html>
<head>
	#parse("/common/header.html")
	#block("css")#end
</head>
#block("body")#end
<script src="#springUrl('/resources/plugins/jQuery/jQuery-2.2.0.min.js')"></script>
<script src="#springUrl('/resources/plugins/bootstrap/js/bootstrap.min.js')"></script>
<script src="#springUrl('/resources/plugins/waves/waves.min.js')"></script>
<script src="#springUrl('/resources/plugins/sweetalert/sweetalert.min.js')"></script>
<script src="#springUrl('/resources/js/function.js')"></script>

#block("js")#end
</html>
